<h1>Who has the Longest Streak on GitHub?</h1>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="oblakeerickson" data-size="large" data-hashtags="github">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Longest_Streak</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% cache("top_users", action_suffix: 'top_users', :expires_in => 1.day) do %>
      <% @users.each.with_index(1) do |user, i| %>
        <tr>
          <td><%= i %></td>
          <td>
            <%= link_to user.username, "https://github.com/#{user.username}" %>
          </td>
          <td><%= user.longest_streak %></td>
          <td><%= user.updated_at %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<h3>Stats: </h3>
<ul>
  <li>
    # of GitHub users I'm currently tracking:
    <%= @count %>
  </li>
  <li>
    # of users I've calculated longest streaks for:
    <%= @longest_streak_count %>
  </li>
</ul>

<p>
  Created by: <%= link_to "Blake Erickson", "http://www.blakeerickson.com" %>.
  Contribute here: <%= link_to "longest_streak", "http://github.com/oblakeerickson/longest_streak" %>.
</p>
